{% extends "header.html" %}
{% block content %}

<head>
    <style>
        body {
            background-image: url('/static/images/background.jpeg');
            color: rgb(27, 192, 233);
        }

        .signature {
            font-style: italic;
            color: whitesmoke;
        }

        .title {
            text-align: center;
            color: whitesmoke;
        }
    </style>
</head>
<div class="row">
    <div class="col">
        <h2 class="title">What is SkyPort?</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3 class="title">In short, SkyPort is a hub for sharing your experiences stargazing.</h3>
        <br/>
        <h4 class>Whether you want to share the awe of the Moon you spent hours watching last night or take a glimpse into  others'
            stargazing adventures, SkyPort allows users to interact with astronomers from near and far. </h4>
        <br/>
        <h4>Here, you can post about your own sightings, comment on others' sightings, or browse the feed of some of the most
            beautiful objects in the universe. </h4>
        <br/>
        <h6 class="signature">Written and designed by Robert Dittmar</h6>
    </div>
</div>
{% endblock %}>