{% extends "header.html" %}
{% block content %}
<head>
    <style>
        body {
            background-image: url('/static/images/background.jpeg');
            color: whitesmoke;
        }

        .label {
            color: rgb(27, 192, 233)
        }

        .title {
            text-align: center;
            color: rgb(27, 192, 233)
        }
    </style>
</head>
<div class="row">
    <div class="col">
        <h2>{{ message }}</h2>
        <h3><a href="{{ url_for('users.index') }}">Click here to return home.</a></h3>
    </div>
</div>
{% endblock %}>