{% extends "header.html" %}
{% block content %}
<head>
    <style>
        body {
            background-image: url('/static/images/background.jpeg');
            color: whitesmoke;
        }

        .label {
            color: rgb(27, 192, 233)
        }

        .title {
            text-align: center;
            color: rgb(27, 192, 233)
        }
    </style>
</head>
<br />
<div class="row">
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <h3 class="label">Search threads, users, and posts:</h3>
                {{ form.query(class="form-control") }}
                {% if form.query.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in form.query.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info btn-block">Search</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}>