{% extends "header.html" %}
{% block content %}
<head>
    <style>
        body {
            background-color:darkslategray;
            color: whitesmoke;
        }

        .label {
            color: rgb(27, 192, 233)
        }

        .title {
            text-align: center;
            color: rgb(27, 192, 233)
        }
    </style>
</head>
<div class="row">
    <div class="col">
        <h1> {{ username }}'s Posts ({{posts.count()}}) </h1>
        <ul class="media-list">
            {% for post in posts %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ post.date }}</small>
                    </span>
                    <strong><a href="{{ url_for('users.post_detail', user=post.poster.username, date=post.date) }}">
                            {{ post.title }}
                        </a>
                    </strong>
                    <p class="text-break">
                        {{ post.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> {{ username }}'s Comments ({{comments.count()}}) </h1>
        <ul class="media-list">
            {% for comment in comments %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ comment.date }}</small>
                    </span>
                    <p><a class="nav-link" href="{{ url_for('stellar_objects.stellar_object', stellar_object=comment.object_name) }}">
                        (Link to thread)
                    </a></p>
                    <p class="text-break">
                        {{ comment.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}